extends layouts/main.pug

block content 
    #newquoteform
        h3.centeredblock Approve new Quotes
        h4 Quoteid 
            span#quoteid #{quoteid}
        #quotearea(style = "width: 75%")
            a#authorurl(href=authorurl)
                img#authorimg(src=authorimg)
            a#originurl(href=originurl)
                img#originimg(src=originimg)
                    
            #textarea(style = "font-size:0.75vw")
                span#newquotetext #{text}
            #authorname #{authorname}
            #ok 
            #notok
            
    script
        include ../../../Javascript/newquotesproof.js