extends layouts/main.pug

block content
    noscript
        p.noscript Site needs JavaScript Support!
    
    #gamingfield
        #stats
            #progressbar
                #progressfinished
                #progresscircle
            #accuracy
                span#accuracynumber 69
                | % 
                span.acc ACC
            #speed
                span#speednumber 420
                span.wpm 
                | WPM
        #quotearea
            a#authorurl(href=authorurl)
                img#authorimg(src=authorimg)
            a#originurl(href=originurl)
                img#originimg(src=originimg)
                    
            #textarea
                span#rightfinished
                span#rightcurrent
                span#wrongcurrent
                span#unfinishedcurrent 
                span#unfinished #{text}
            #authorname #{authorname}
            a#restartlink(href=quoteurl)
                #restart
                    img#restartarrow(src='../../Images/restart.svg')
            a#nextlink(href='/newsingle')
                #next
                    img#nextarrow(src='../../Images/next.svg')
        input#inputfield
    
    script
        include ../../../Javascript/game.js
